.appointment-detail {
  position: relative;
  .left {
    padding-right: $pd-4;
    .form-input-group {
      @extend %form-input-group;
    }
  }
  .right {
    .title,
    .label {
      line-height: $line-height-0;
      margin-bottom: $mg-4;
      @include styleText($color-black-1, $fs-3, $fw-0);
    }
    .label {
      @include styleText($color-black-1, $fs-0, $fw-0);
    }
    .appointment-date-container {
      display: flex;
      align-items: center;
      margin-bottom: $mg-4 + 4;
      .date-item {
        position: relative;
        margin-right: $mg-2;
        width: 72px;
        height: 58px;
        background: $color-gray-7;
        border: 2px solid $color-gray-7;
        border-radius: $border-radius-2;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .day-num {
          line-height: $line-height-1;
          @include styleText($color-smoke, $fs-0, $fw-2);
          .icon {
            font-size: $fs-3;
          }
        }
        .day-text {
          line-height: $line-height-0;
          @include styleText($color-gray-0, $fs-1 - 1, $fw-0);
        }
        &.active {
          border-color: $color-blue-1;
        }
      }
      .date-picker {
        position: relative;
        transform: translate(-16px, -340px);
        opacity: 0;
        visibility: hidden;
      }
    }
    .appointment-time-container {
      padding-right: $pd-3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .time-item {
        width: 72px;
        height: 36px;
        background: $color-gray-7;
        border: 2px solid $color-gray-7;
        border-radius: $border-radius-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $mg-4 + 4;
        margin-bottom: $mg-4 + 4;
        line-height: $line-height-1;
        @include styleText($color-smoke, $fs-0, $fw-0);
        text-align: center;
        cursor: pointer;
        &.active {
          border-color: $color-blue-1;
        }
        &:disabled {
          cursor: not-allowed;
          opacity: 0.4;
          background: red;
        }
      }
    }
    .error-required-time {
      @include styleText($color-red-0, $fs-1, $fw-0);
    }
  }
}
