.button-container {
  display: flex;
  align-items: center;
}

.button {
  border-radius: $border-radius-4;
  cursor: pointer;
  &.square {
    border-radius: $border-radius-3;
  }
  &:disabled {
    background-color: $color-gray-0;
    border: 1px solid $color-gray-0;
    color: $color-gray-1;
    cursor: default;
    &:hover {
      background-color: $color-gray-0;
      border: 1px solid $color-gray-0;
      cursor: default;
      color: $color-gray-1;
    }
  }

  &.button--light {
    transition: 0.25s ease;
    @include styleButton(
      $color-blue-0,
      $color-white-0,
      $color-blue-0,
      $fs-0,
      $fw-1,
      $pd-2,
      $pd-3
    );
    &:hover {
      @include hoverButton($color-white-0, $color-yellow-0, $color-yellow-0);
    }
  }
}
