.button-container {
  display: flex;
  align-items: center;
}

.button {
  border-radius: $border-radius-4;
  margin-right: $mg-4;
  outline: none;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  &.square {
    border-radius: $border-radius-3;
  }
  &.button--light {
    @include styleButton(
      $color-black-0,
      $color-white-0,
      $color-black-0,
      $fs-0,
      $fw-1,
      $pd-2,
      $pd-3
    );
    &:hover {
      @include hoverButton($color-white-0, $color-blue-1, $color-blue-1);
    }
  }

  &.button--blue--dark {
    @include styleButton(
      $color-white-0,
      $color-blue-2,
      $color-blue-2,
      $fs-0 + 1,
      $fw-1,
      $pd-0,
      $pd-3
    );
    &:hover {
      @include hoverButton($color-white-0, $color-blue-1, $color-blue-1);
    }
    font-weight: normal;
  }

  &.button--blue--light {
    @include styleButton(
      $color-white-0,
      $color-blue-1,
      $color-blue-1,
      $fs-0,
      $fw-1,
      $pd-0,
      $pd-3
    );
    &:hover {
      @include hoverButton($color-white-0, $color-blue-2, $color-blue-2);
    }
    font-weight: normal;
  }

  &.button--text--white {
    @include styleButton($color-white-0, transparent, none, $fs-0, $fw-1, 0, 0);
    border: none;
    &:hover {
      opacity: 0.8;
      transform: translateY(-1px);
    }
  }

  &.button--text--blue {
    @include styleButton($color-blue-1, transparent, none, $fs-0, $fw-1, 0, 0);
    border: none;
  }

  .icon {
    margin-left: $mg-4;
  }

  &:disabled {
    background-color: $color-gray-0;
    border: 1px solid $color-gray-0;
    color: $color-gray-1;
    cursor: default;
    &:hover {
      background-color: $color-gray-0;
      border: 1px solid $color-gray-0;
      cursor: default;
      color: $color-gray-1;
    }
  }
}
