.navigation-container {
  background-color: transparent;
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: $pd-0 0;
  .navigation-content {
    padding: 0 $pd-0 + 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      @extend %logo-container;
    }
    .nav-list {
      flex: 1;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      .nav-item {
        padding: $pd-3 $pd-1;
        margin-right: $mg-4;
        position: relative;
        .nav-link {
          display: flex;
          align-items: center;
          @include styleText($color-blue-2, $fs-0, $fw-1);
          transition: 0.25s ease;
          .text {
            margin-right: $mg-0;
          }
          .icon {
            transform: translateY(1px);
          }
          &:hover {
            @include styleText($color-blue-1, $fs-0, $fw-1);
          }
          &.active {
            @include styleText($color-blue-1, $fs-0, $fw-1);
          }
        }
        .sub-nav {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          background-color: $color-white-0;
          list-style-type: none;
          padding: $pd-0 $pd-3;
          min-width: 250px;
          box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
          animation: slideUp 0.6s ease;
          .sub-item {
            display: block;
            padding: $pd-0 0;
            @include styleText($color-black-0, $fs-0, $fw-0);
            transition: 0.6s ease;
            text-transform: capitalize;
            &:hover {
              letter-spacing: 1px;
              color: $color-blue-1;
            }
          }
        }
        &:hover {
          .sub-nav {
            display: block;
          }
        }
      }
    }
    .other-option {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mobile-nav-button {
      display: none;
    }
    .mobile-nav-content {
      transform: translateX(100vw);
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: $color-white-0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;
      // padding-left:
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: 0.6s ease;
      opacity: 0;
      padding: $pd-4;
      padding-top: $pd-5;
      .nav-item {
        display: block;
        padding: $pd-2 0;
        font-size: $fs-5;
      }
      .close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: $fs-4;
      }
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  &.active {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    background-color: $color-white-0;
    animation: fadeInDown 0.4s ease-in-out;
  }
  &.activeBg {
    background-color: $color-white-0;
  }

  // Responsive
  @include responsive('large') {
    .navigation-content {
      padding: 0 $pd-4;
      .nav-list,
      .other-option {
        display: none;
      }
      .mobile-nav-button {
        background-color: $color-blue-2;
        display: block;
        padding: $pd-2 $pd-0;
        border-radius: $border-radius-3;
        transition: 0.4s ease;
        .icon {
          transition: 0.4s ease;
          @include styleText($color-white-0, $fs-4, $fw-0);
        }
        &:hover {
          background-color: $color-blue-1;
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    // transform: translate3d(0,-100%,0);
  }
  to {
    opacity: 1;
    transform: none;
    // transform: translate3d(0,0,0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
