.spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid $color-blue-0;
  width: 25px;
  height: 25px;
  /* position: absolute; */
  top: 150px;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-width: 3px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
