.tag {
  display: inline-block;
  padding: $pd-2 - 2 $pd-2;
  transition: 0.4s ease;
  &.tag--received {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-blue-1, $alpha: 0.8);
  }
  &.tag--canceled {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-gray-1, $alpha: 1);
  }
  &.tag--inprogress {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-blue-1, $alpha: 0.8);
  }
  &.tag--isBlocking {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-yellow-0, $alpha: 0.8);
  }
  &.tag--waiting {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-blue-0, $alpha: 0.8);
  }
  &.tag--resolved {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-green-0, $alpha: 0.8);
  }
  &.tag--done {
    @include styleText($color-white-0, $fs-1, $fw-1);
    background-color: rgba($color: $color-green-0, $alpha: 0.8);
  }
}
